

/* Start:/bitrix/templates/leader-land/components/bitrix/news.detail/wiki/style.css?1509024301155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/templates/leader-land/components/bitrix/news.detail/wiki/style.css?1509024301155 */
