

/* Start:/bitrix/templates/leader-land/components//bitrix/system.pagenavigation/modern/style.min.css?1494784105659*/
div.modern-page-navigation{padding:.5em 0}div.modern-page-navigation a,span.modern-page-current,span.modern-page-dots{border-left-width:1px;border-left-style:solid;padding-left:.75em;padding-right:.5em;text-decoration:none}div.modern-page-navigation a.modern-page-previous{border-right-width:1px;border-right-style:solid;border-left:none}div.modern-page-navigation a.modern-page-first,div.modern-page-navigation span.modern-page-first{border-left:none;padding-left:.5em}span.modern-page-current{font-weight:bold}div.modern-page-navigation a,span.modern-page-current,div.modern-page-navigation a.modern-page-previous,span.modern-page-dots{border-color:#cdcdcd}
/* End */


/* Start:/bitrix/templates/leader-land/components/bitrix/news.list/wiki/style.css?1509023454150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/leader-land/components//bitrix/system.pagenavigation/modern/style.min.css?1494784105659 */
/* /bitrix/templates/leader-land/components/bitrix/news.list/wiki/style.css?1509023454150 */
