

/* Start:/bitrix/templates/leader-land/components/bitrix/news.list/slider_main/style.css?1493567979150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/leader-land/components/bitrix/news.detail/main_page_1/style.css?1502441026155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/leader-land/components/bitrix/news.list/prices_main/style.css?1493570903150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/leader-land/components/bitrix/news.detail/main_page_2/style.css?1502442453155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?149313041951*/
font.errortext{color:red}font.notetext{color:green}
/* End */


/* Start:/bitrix/templates/leader-land/components/bitrix/news.list/works_main/style.css?1493879586150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/leader-land/components/bitrix/news.list/slider_main/style.css?1493567979150 */
/* /bitrix/templates/leader-land/components/bitrix/news.detail/main_page_1/style.css?1502441026155 */
/* /bitrix/templates/leader-land/components/bitrix/news.list/prices_main/style.css?1493570903150 */
/* /bitrix/templates/leader-land/components/bitrix/news.detail/main_page_2/style.css?1502442453155 */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?149313041951 */
/* /bitrix/templates/leader-land/components/bitrix/news.list/works_main/style.css?1493879586150 */
