

/* Start:/bitrix/templates/leader-land/components/bitrix/news.list/prices_main/style.css?1493570903150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/leader-land/components/bitrix/news.list/prices_main/style.css?1493570903150 */
