@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Alice);
.thumbnail .caption{
    background: #eeeeee;
    padding-top: 30px;
    padding-bottom: 30px;
}
.caption h4.title{
    min-height: 60px;
}
.caption h4.price{
    color: #78ab06;
}
.caption .description{
    min-height: 445px;
}
.caption ul li{
    font-size: 16px;
}
.caption .btn{
    background-color: #78ab06;
    border-color: #78ab06;
    color: #ffffff;
}
.bottom-blc:after{
    display: none;
}
.well2{
    padding-bottom: 50px;
}
.well5 img{
    border: 6px solid #ffffff;
}
.contact-form input[type="text"], .contact-form textarea{
    width: 100%;
    margin-bottom: 10px;
}
.contact-form textarea{
    min-height: 150px;
}
article.media{
    margin-top: 67px;
}
label{
    display: inline;
}
/*========================================================
                        Camera
=========================================================*/
.camera_container {
    position: relative;
    padding-bottom: 41.07317073%;
}
@media (max-width: 852.13776722px) {
    .camera_container {
        padding-bottom: 350px;
    }
}
.camera_wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 0 !important;
    height: 100%;
    background: #fff;
}
.camera_wrap img {
    max-width: none !important;
}
.camera_fakehover {
    height: 100%;
    min-height: 60px;
    position: relative;
    width: 100%;
}
.camera_src {
    display: none;
}
.cameraCont,
.cameraContents {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.cameraSlide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.cameraContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
.camera_target {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-align: left;
    z-index: 0;
}
.camera_overlayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}
.camera_target_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
}
.camera_loader {
    background: #ffffff url(../images/camera-loader.gif) no-repeat center;
    border: 1px solid #ffffff;
    border-radius: 18px;
    height: 36px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    margin: -18px 0 0 -18px;
    top: 50%;
    width: 36px;
    z-index: 3;
}
.camera_nav_cont {
    height: 65px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 15px;
    width: 120px;
    z-index: 4;
}
.camerarelative {
    overflow: hidden;
    position: relative;
}
.imgFake {
    cursor: pointer;
}
.camera_command_wrap .hideNav {
    display: none;
}
.camera_command_wrap {
    left: 0;
    position: relative;
    right: 0;
    z-index: 4;
}
.showIt {
    display: none;
}
.camera_clear {
    clear: both;
    display: block;
    height: 1px;
    margin: -1px 0 25px;
    position: relative;
}
.camera_caption {
    display: none;
    left: 0%;
    right: 0%;
    top: 10%;
    bottom: 25.6%;
}
@media (max-width: 767px) {
    .camera_caption {
        top: 13%;
    }
}
.cameraContent .camera_caption {
    display: block;
}
/*================   Custom Layout&Styles   =====================*/
.camera_caption {
    position: absolute;
}
.camera_caption > div {
    height: 100%;
}
.camera_pag {
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
}
@media (max-width: 767px) {
    .camera_pag {
        display: none;
    }
}
.camera_pag_ul {
    text-align: right;
}
.camera_pag_ul li {
    position: absolute;
    top: 0;
    right: 23.7%;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
@media (max-width: 1550px) {
    .camera_pag_ul li {
        right: 14%;
    }
}
.camera_pag_ul li.cameracurrent,
.camera_pag_ul li:hover {
    background: #fff9ae;
}
.camera_pag_ul li + li {
    margin-left: 16px;
}
.camera_pag_ul li > span {
    display: none;
}
.camera_nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -33px;
}
@media (max-width: 767px) {
    .camera_nav {
        display: none;
    }
}
.camera_next:before {
    position: absolute;
    content: '\f101';
    font-family: 'FontAwesome';
    font-size: 32px;
    color: #ffffff;
    top: 0;
    right: 12.3%;
    z-index: 10;
}
.camera_prev:before {
    position: absolute;
    content: '\f100';
    font-family: 'FontAwesome';
    font-size: 32px;
    color: #ffffff;
    top: 0;
    left: 12.3%;
    z-index: 10;
}
.camera_next:before,
.camera_prev:before {
    cursor: pointer;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.camera_next:hover:before,
.camera_prev:hover:before {
    color: #78ab06;
}
.bot-blc {
    position: absolute;
    bottom: -64px;
    left: 0;
    right: 0;
    z-index: 2;
}
.bot-blc h3 {
    background: #78ab06;
    padding: 42px 5px 42px 57px;
}
@media (max-width: 1199px) {
    .bot-blc {
        bottom: -43px;
    }
    .bot-blc h3 {
        font-size: 20px;
        padding: 30px 5px 30px 57px;
    }
}
@media (max-width: 767px) {
    .bot-blc {
        display: none;
    }
}
