.jumbotron {
  position: absolute;
  bottom: 25.6%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
}
.jumbotron h2 {
  line-height: 60px;
}
.jumbotron h2 + .btn {
  margin-top: 76px;
}
@media (max-width: 1199px) {
  .jumbotron {
    top: 20%;
  }
  .jumbotron h2 {
    font-size: 30px;
    line-height: 1.3;
  }
  .jumbotron h2 + .btn {
    margin-top: 40px;
  }
}
@media (max-width: 1199px) and (max-width: 450px) {
  .jumbotron {
    top: 25%;
  }
  .jumbotron h2 {
    font-size: 20px;
  }
  .jumbotron h2 + .btn {
    font-size: 18px;
  }
}
