@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Alice);
.search-form {
  display: inline-block;
  position: relative;
  width: 82.6%;
  margin-top: 30px;
  z-index: 3;
}
.search-form_label {
  width: 100%;
  display: block;
  padding: 10px 113px 10px 10px;
  background: trancparent;
  border: 1px solid #dadada;
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #464646;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: 41px;
}
.search-form_submit {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-top: 0;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  width: 108px;
  height: 63px;
  border: 1px solid #dadada;
}
.search-form_submit::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_submit:before {
  content: 'Search';
  font-size: 15px;
  line-height: 41px;
  color: #464646;
  font-family: 'Alice', serif;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-form_submit:hover {
  color: #ef321f;
}
.search-form_submit:hover:before {
  color: #ffffff;
}
@media (max-width: 479px) {
  .search-form {
    float: none;
    margin-left: 0;
    width: 100%;
  }
}
.search-form_toggle {
  display: inline-block;
  color: #ffffff;
  font: 400 14px/14px 'FontAwesome';
  position: absolute;
  right: 0%;
  top: 0%;
  min-width: 13px;
}
.search-form_toggle:before {
  content: '\f002';
}
.search-form_toggle:after {
  content: '';
  position: absolute;
  height: 32px;
  width: 1px;
  background: #484643;
  top: -10px;
  left: -27px;
}
.search-form_toggle.active,
.search-form_toggle:hover {
  color: #464646;
}
.search-form_toggle.active:before {
  content: '\f00d';
}
@media (max-width: 1199px) {
  .search-form_toggle {
    right: 5%;
  }
}
@media (max-width: 767px) {
  .search-form_toggle {
    display: none;
  }
}
.search-form + * {
  margin-top: 25px;
}
.search-form.on {
  display: block;
}
.search-form_liveout {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1;
}
.lt-ie9 .search-form_liveout {
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  padding: 10px;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_list a {
  padding-left: 5px;
}
.search-form_liveout .search_list p {
  margin: 0;
}
.search-form_liveout .search_link {
  font-family: 'Alice', serif;
  display: block;
  padding: 5px 10px;
  background: #ffffff;
  color: #669202;
}
.search-form_liveout .search_link .search_title {
  color: #669202;
  font: 700 13px/18px 'Alice', serif;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #ef321f;
  color: #ffffff;
}
.search-form_liveout .search_link:hover .search_title {
  color: #ffffff;
}
.search-form_liveout .search_error {
  display: block;
  color: #ef321f;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
  font-size: 14px;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #6d1108;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_liveout button:hover {
  background: #ef321f;
  color: #ffffff;
}
input:focus + .search-form_liveout {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lt-ie9 input:focus + .search-form_liveout {
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet,
.mobile .search-form_liveout {
  display: none !important;
}
.search-frame,
.search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame,
.search-frame body,
.search-frame h1,
.search-frame h2,
.search-frame h3,
.search-frame h4,
.search-frame h5,
.search-frame h6,
.search-frame p,
.search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  color: #464646;
  font-family: 'Alice', serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 979px) {
  .search-frame h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
.search-frame h4 a:hover {
  color: #669202;
}
.search-frame .search_list {
  color: #464646;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
  counter-reset: num1;
}
.search-frame .search_list p {
  font: 300 15px/22px 'Alice', serif;
}
.search-frame .search_list .match {
  color: #669202;
  font-size: 12px;
  display: block;
}
.search-frame .search_list li {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame .search_list li:hover {
  background: rgba(0, 255, 0, 0.1);
}
.search-frame .search_list li:before {
  content: counter(num1) '.';
  counter-increment: num1;
  position: absolute;
  left: 5px;
  top: 20px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: inherit;
}
.search-frame .search_list li + li {
  border-top: 5px solid #669202;
}
.search-frame .search {
  color: #669202;
  font-weight: 700;
}
.search-frame .match {
  color: #464646;
  font-size: 12px;
  display: block;
}
.search-frame * + p {
  margin-top: 16px;
}
body.search_body {
  background: #1b1b1d;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.search_head {
  padding-bottom: 25px;
}
