.thumbnail .thumb {
  max-width: 268px;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail > img,
.thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  text-align: center;
  margin-top: 48px;
}
